<div class="masthead">
    <p class="title">{{name}} Schedule</p>

    <div class="text summary">
        <p>You are browsing {{name}} broadcasts scheduling from 26th January to 1st of February 2013.</p>
    </div>
</div>

<div class="component schedule-container" data-template="channel-schedule" data-loader></div>