{{#each channels}}
    <div class="span6 service">
        <a href="#{{id}}">
            <img src="//rd-broadcast-bookmarks.herokuapp.com/{{{image}}}" alt="{{name}}">
        </a>
    </div>
{{/each}}